<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/::)</key>
	<string>[微笑]</string>
	<key>/::~</key>
	<string>[撇嘴]</string>
	<key>/::B</key>
	<string>[色]</string>
	<key>/::|</key>
	<string>[发呆]</string>
	<key>/:8-)</key>
	<string>[得意]</string>
	<key>/::&lt;</key>
	<string>[流泪]</string>
	<key>/::$</key>
	<string>[害羞]</string>
	<key>/::X</key>
	<string>[闭嘴]</string>
	<key>/::Z</key>
	<string>[睡]</string>
	<key>/::&apos;(</key>
	<string>[大哭]</string>
	<key>/::-|</key>
	<string>[尴尬]</string>
	<key>/::@</key>
	<string>[发怒]</string>
	<key>/::P</key>
	<string>[调皮]</string>
	<key>/::D</key>
	<string>[呲牙]</string>
	<key>/::O</key>
	<string>[惊讶]</string>
	<key>/::(</key>
	<string>[难过]</string>
	<key>/::+</key>
	<string>[酷]</string>
	<key>/::Q</key>
	<string>[抓狂]</string>
	<key>/::T</key>
	<string>[吐]</string>
	<key>/:,@P</key>
	<string>[偷笑]</string>
	<key>/:,@-D</key>
	<string>[愉快]</string>
	<key>/::d</key>
	<string>[白眼]</string>
	<key>/:,@o</key>
	<string>[傲慢]</string>
	<key>/::g</key>
	<string>[饥饿]</string>
	<key>/:|-)</key>
	<string>[困]</string>
	<key>/::!</key>
	<string>[惊恐]</string>
	<key>/::L</key>
	<string>[流汗]</string>
	<key>/::&gt;</key>
	<string>[憨笑]</string>
	<key>/::,@</key>
	<string>[悠闲]</string>
	<key>/:,@f</key>
	<string>[奋斗]</string>
	<key>/::-S</key>
	<string>[咒骂]</string>
	<key>/:?</key>
	<string>[疑问]</string>
	<key>/:,@x</key>
	<string>[嘘]</string>
	<key>/:,@@</key>
	<string>[晕]</string>
	<key>/::8</key>
	<string>[疯了]</string>
	<key>/:,@!</key>
	<string>[衰]</string>
	<key>/:!!!</key>
	<string>[骷髅]</string>
	<key>/:xx</key>
	<string>[敲打]</string>
	<key>/:bye</key>
	<string>[再见]</string>
	<key>/:wipe</key>
	<string>[擦汗]</string>
	<key>/:dig</key>
	<string>[抠鼻]</string>
	<key>/:handclap</key>
	<string>[鼓掌]</string>
	<key>/:&amp;-(</key>
	<string>[糗大了]</string>
	<key>/:B-(</key>
	<string>[坏笑]</string>
	<key>/:&lt;@</key>
	<string>[左哼哼]</string>
	<key>/:@&gt;</key>
	<string>[右哼哼]</string>
	<key>/::-O</key>
	<string>[哈欠]</string>
	<key>/:&gt;-|</key>
	<string>[鄙视]</string>
	<key>/:P-(</key>
	<string>[委屈]</string>
	<key>/::*</key>
	<string>[亲亲]</string>
	<key>/:@x</key>
	<string>[吓]</string>
	<key>/:8*</key>
	<string>[可怜]</string>
	<key>/:pd</key>
	<string>[菜刀]</string>
	<key>/:&lt;W&gt;</key>
	<string>[西瓜]</string>
	<key>/:beer</key>
	<string>[啤酒]</string>
	<key>/:basketb</key>
	<string>[篮球]</string>
	<key>/:oo</key>
	<string>[乒乓]</string>
	<key>/:coffee</key>
	<string>[咖啡]</string>
	<key>/:eat</key>
	<string>[饭]</string>
	<key>/:pig</key>
	<string>[猪头]</string>
	<key>/:rose</key>
	<string>[玫瑰]</string>
	<key>/:fade</key>
	<string>[凋谢]</string>
	<key>/:showlove</key>
	<string>[嘴唇]</string>
	<key>/:heart</key>
	<string>[爱心]</string>
	<key>/:break</key>
	<string>[心碎]</string>
	<key>/:cake</key>
	<string>[蛋糕]</string>
	<key>/:li</key>
	<string>[闪电]</string>
	<key>/:bome</key>
	<string>[炸弹]</string>
	<key>/:kn</key>
	<string>[刀子]</string>
	<key>/:footb</key>
	<string>[足球]</string>
	<key>/:ladybug</key>
	<string>[瓢虫]</string>
	<key>/:shit</key>
	<string>[便便]</string>
	<key>/:moon</key>
	<string>[月亮]</string>
	<key>/:sun</key>
	<string>[太阳]</string>
	<key>/:gift</key>
	<string>[礼物]</string>
	<key>/:hug</key>
	<string>[拥抱]</string>
	<key>/:strong</key>
	<string>[强]</string>
	<key>/:weak</key>
	<string>[弱]</string>
	<key>/:share</key>
	<string>[握手]</string>
	<key>/:v</key>
	<string>[胜利]</string>
	<key>/:@)</key>
	<string>[抱拳]</string>
	<key>/:jj</key>
	<string>[勾引]</string>
	<key>/:@@</key>
	<string>[拳头]</string>
	<key>/:bad</key>
	<string>[差劲]</string>
	<key>/:lvu</key>
	<string>[爱你]</string>
	<key>/:no</key>
	<string>[NO]</string>
	<key>/:ok</key>
	<string>[OK]</string>
	<key>/:&lt;L&gt;</key>
	<string>[飞吻]</string>
	<key>/:love</key>
	<string>[爱情]</string>
	<key>/:jump</key>
	<string>[跳跳]</string>
	<key>/:shake</key>
	<string>[发抖]</string>
	<key>/:&lt;O&gt;</key>
	<string>[怄火]</string>
	<key>/:circle</key>
	<string>[转圈]</string>
	<key>/:kotow</key>
	<string>[磕头]</string>
	<key>/:turn</key>
	<string>[回头]</string>
	<key>/:skip</key>
	<string>[跳绳]</string>
	<key>/:oY</key>
	<string>[投降]</string>
	<key>/:#-0</key>
	<string>[激动]</string>
	<key>/:hiphot</key>
	<string>[乱舞]</string>
	<key>/:kiss</key>
	<string>[献舞]</string>
	<key>/:&lt;&amp;</key>
	<string>[左太极]</string>
	<key>/:&amp;&gt;</key>
	<string>[右太极]</string>
</dict>
</plist>
